---
title: Le Wagon - Middleman - About
---

<% creators = [
  {name: "Andrew Erlanger", username: "andrewerlanger"},
  {name: "Jadwiga Courmert", username: "jadwigafr"}
] %>

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% creators.each do |creator| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{creator[:username]}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{creator[:username]}", class: "img-circle" %>
          <% end %>
          <h2><%= creator[:name] %></h2>
          <p>
            <% link_to "https://github.com/#{creator}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= creator[:username] %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
